.product-contents {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
    background: #f8f8f8;
    height: 1000px;
    text-align: center;
}
.product-contents__title {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
.product-contents__register {
    padding: 10px 10px;
    background: #e77c03;
    color: black;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
    height: 40px;
    margin: 20px;
}
.product-contents__inner {
    padding: 30px 15px;
    display: flex;
    gap: 20px;
}
.product-contents__search {
    width: 200px;
}

.product-contents__search--keyword {
    width: 80%;
    height: 30px;
    border: 1px solid grey;
    border-radius: 50px;
    background: #fff;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
}
.product-contents__search--submit {
    width: 80%;
    height: 30px;
    background: #e4791b;
    border: 1px solid #d47706;
    border-radius: 3px;
}
.product-contents__sort {
    width: 80%;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0 0 0 20px;
    background: #fff;
}

.sort_result p {
    border: 1px solid #d47706;
    border-radius: 50px;
}

.sort_result a {
    color: #d47706;
    text-decoration: none;
}
.product-contents__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}
.card {
    width: 320px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}
.card__img img {
    width: 100%;
}

.card__content-tag-item {
    display: inline-block;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0px 200px 0px 0px;
    font-size: 14px;
}
.pagination .page-link {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #fff;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.2s;
}

.pagination .page-link:hover {
    background-color: #d47706;
    color: #fff;
}
.pagination .page-item.active .page-link {
    background-color: #e4791b;
    border-color: #ef770e;
    color: #fff;
}

.pagination .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
