.register-contents {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
    background: #f8f8f8;
    height: 1000px;
}
.register-contents__titel {
    margin-bottom: 40px;
    padding-left: 200px;
}
.form-inner {
    margin: 0 auto;
    width: 70%;
}
.form {
    width: 70%;
}
.form__group {
    margin-bottom: 15px;
}
.form__group-title {
    margin-bottom: 10px;
}

.form__label--required {
    padding: 4px 6px;
    border: 1px solid red;
    border-radius: 1px;
    background: red;
    color: #fff;
}

.form__error {
    margin: 10px auto;
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.form__label--select {
    color: red;
}
.form__input--text input,
.form__input--textarea textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}
.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: orange;
    color: #000;
    cursor: pointer;
    margin-left: 50px;
}
.form__button-back {
    padding: 17px 50px;
    background-color: orange; /* ボタンの色 */
    color: #000; /* 文字色 */
    text-decoration: none; /* 下線を消す */
    border-radius: 3px; /* 角丸 */
    font-size: 14px;
}
